#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=kr --xlayouts='kr'
# System language
lang ko_KR.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=Linux-1

# Root password
rootpw --iscrypted $6$X8wC/4ml84Gx99/y$ORjT5G7ppqKzBd3O6N8Sb1tE3qLA9/lGGzFtJNVpNeY3QXCCr.w.piwZItf8KM6M3dlJSanbn0u0CLWq07Hh6.
# System services
services --enabled="chronyd"
# System timezone
timezone Asia/Seoul --isUtc
user --name=itbank --password=$6$J6FeF2Cyf7HPYDKU$oib0iTsvfRoQ/nycRDeSAnWyvdnvLkd.HuIhSqL4UJp9wq619Sap60.RL/Yz0a0iAtggRn94YNAZPGXoYz5w.. --iscrypted --gecos="itbank"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
